<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2"
    >
      <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
          <a
            href=""
            style="font-size:1.4em;color: #ee4d2d;text-decoration:none;font-weight:600"
          >Nguyễn Huy Tới</a>
        </div>
        <p style="font-size:1.1em">Xin chào, {{name}}!</p>
        <div>
          <p>Mã OTP xác thực mật khẩu của bạn là:</p>
          <h2
            style="background: #f05d40;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;"
          > {{otp}}</h2></div>

        <p>Mã OTP này chỉ có giá trị trong 15 phút. Vui lòng nhập mã OTP này vào
          ô được yêu cầu để xác thực mật khẩu của bạn.</p>
        <div style="display: flex; align-items: center;">
          <h3>Lưu ý:</h3>
          <ul>
            <li>Mã OTP này chỉ dành cho bạn và không được chia sẻ với bất kỳ ai
              khác.</li>
            <li>Vui lòng không phản hồi tin nhắn này với bất kỳ thông tin cá
              nhân nào.</li>
          </ul>
        </div>

        <p style="font-size:0.9em;">Trân trọng,<br />Nguyễn Huy Tới</p>
        <hr style="border:none;border-top:1px solid #eee" />
        <p
          style="
            max-width: 400px;
            margin: 0 auto;
            margin-top: 20px;
            text-align: center;
            font-weight: 500;
            color: #8c8c8c;
          "
        >
          Cần giúp đỡ? Liên hệ
          <a
            href="mailto:toidz25102004@gmail.com"
            style="color: #499fb6; text-decoration: none;"
          >toidz25102004@gmail.com</a>
        </p>
      </div>
    </div>
  </body>
</html>